@model bacit_dotnet.MVC.Models.Suggestions.SuggestionViewModel

<h2> Nylig lagt til forslag </h2> 
<br>
<p><b>Tittel: </b>@Model.Title </p>
<p><b>Navn: </b>@Model.Name </p>
<p><b>Team: </b>@Model.Team </p>
<p><b>Beskrivelse av forslaget: </b>@Model.Description</p>
<p><b>Tidspunkt (GMT): </b>@Model.TimeStamp</p>

