@model bacit_dotnet.MVC.Models.SuggestionModel
<h1>
   Forslagsliste
</h1>

<ul>
    @foreach (var user in Model.Sug)
    {
        <li>
            <div>
            <h3> @user.Title</h3>
            <p>Navn: @user.Name</p> 
            <p>Team: @user.Team </p> 
            <p>Beskrivelse: @user.Description</p>
            <p>Tid: @user.TimeStamp</p>
            <p>Status: @user.Status</p>
            <a class="btn btn-primary btn-sm" href="/Suggestions/Edit?id=@user.sugId">Rediger</a>
            <a class="btn btn-primary btn-sm" href="/Suggestions/Delete?id=@user.sugId">Slett</a>

            </div>
        </li>
    }
</ul>