@model IEnumerable<bacit_dotnet.MVC.Models.Person>

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiceOversikt</title>
    <link rel="stylesheet" href="/css/ServiceOverview.css">
</head>

<body>
<div class="container-order">
    <h2>Ordreoversikt</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Dato</th>
            <th>Ordrenummer</th>
            <th>Kunde</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in Model)
        {
            <tr data-href="">
                <td>@person.ID</td>
                <td>@person.Dato</td>
                <td>@person.Ordrenummer</td>
                <td>@person.Navn</td>
                <td>@person.Status</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
</body>
</html>