@using bacit_dotnet.MVC.Models.Users
@model UserViewModel
<h3>Rediger registrerte brukere</h3>
@if(Model.Email!=null)
{
    <form asp-action="save" asp-controller="users" method="post">
        <ul>
            <li>
                <label for="Name">Navn</label>
                <input type="text" name="Name" value="@Model.Name" />
            </li>
            <li>
                <label for="Password">Passord</label>
                <input type="password" name="Password" value="@Model.Password" />
            </li>
            <li>
                <label for="Email">Email</label>
                <input type="email" name="Email" value="@Model.Email" />
            </li>
            <li>
                <label for="EmployeeNumber">Ansattnummer</label>
                <input type="text" name="EmployeeNumber" value="@Model.EmployeeNumber" />
            </li>
            <li>
                <label for="Team">Team</label>
                <input type="text" name="Team" value="@Model.Team" />
            </li>
            <li>
                <label for="Role">Role</label>
                <input type="Text" name="Role" value="@Model.Role" />
            </li>
        <li>
            <label for="Role">Sett som administrator</label>
                <input asp-for="@Model.IsAdmin"/>
        </li>
            <li>
                <input type="submit" value="Lagre" />
            </li>
        </ul>
    </form>
}
<table>
    <tr>
        <td>Name</td>
        <td>Email</td>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>
                <form asp-action="delete" asp-controller="users" method="post">
                    <input type="hidden" name="Email" value="@user.Email" />
                    <input type="submit" value="Slett" />
                </form>
            </td>
            <td>
                <form asp-action="index" asp-controller="users" method="get">
                    <input type="hidden" name="Email" value="@user.Email" />
                    <input type="submit" value="Endre" />
                </form>
            </td>
        </tr>
    }
</table>
