@model bacit_dotnet.MVC.Models.ServiceOrder.ServiceOrderViewModel

@{
    ViewBag.Title = "Service Order Form";
}

<h2>Service Order Form</h2>

@using (Html.BeginForm("Save", "ServiceOrder", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.LabelFor(model => model.ServiceOrderId)
        @Html.TextBoxFor(model => model.ServiceOrderId, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ServiceOrderId, "", new { @class = "text-danger" })
    </div>
    
    
    <div class="form-group">
        @Html.LabelFor(model => model.CreatedDate)
        @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
    </div>
    
    <!-- Add similar form fields for other properties -->

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}