@model bacit_dotnet.MVC.Models.ServiceOrdre.ServiceOrderViewModel
<h1>Oversikt</h1>

<p>
    <a asp-controller="ServiceOrder" asp-action="Create">Create new Serviceform</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
              <tr>
                <td>
                    @Html.DisplayFor(model => model.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-itemid="@Model.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-itemid="@Model.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-itemid="@Model.OrderId">Delete</a>
                </td>   
            </tr>  
    </tbody>
</table>
