@model bacit_dotnet.MVC.Models.Person> 


<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiceOversikt</title>
      <link rel="stylesheet" href="/css/Serviceorders.css">
</head>

<body>
<form asp-action="Save" asp-controller="ServiceOrder" method="post">
<div class="container-order">
    <div class="table">
        <h2>Ordreoversikt</h2>

        <div class="search-order">
            <label for="Search">Søk Ordre id eller nummer?:</label>
            <input type="text" id="Search" name="Search">
            <input type="submit" value="Search">
        </div>
        <table>
            <thead>
            <tr>
                <th colspan="5">ServiceOrdrer</th>
            </tr>
            </thead>
            <tbody>
            <tr data-href="https://www.youtube.com/watch?v=6BdKUO2QbA0">
            <td>Id</td>
            <td>Dato</td>
            <td>Ordrenummer</td>
            <td>Navn</td>
            <td>status</td>
            </tr>
             @foreach (var person in Model)
             {<tr data-href="https://www.youtube.com/watch?v=6BdKUO2QbA0">
                <td>@person.Id</td>
                <td>@person.Dato</td>
                <td>@person.Ordrenummer</td>
                <td>@person.Kunde</td>
                <td>@person.Status</td>
            </tr>
              }
            </tbody>
        </table>
    </div>
</div>
<script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
</form>
</body>
</html>
